body {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.leftContainer {
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1862&q=80);
    height: 100vh;
    display: flex;
    align-items: center;
    width: fit-content;
}

.logoAndTitleContainer {
    display: flex;
    background-color: rgba(34, 36, 38, 0.7);
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.logoAndTitleContainer img {
    width: 70px;
    height: auto;

}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gainsboro;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

form {
    background-color: white;
    padding: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -50px;
    margin-right: -50px;
    box-shadow:  1px 2px 1px rgba(2, 2, 10, 0.2);
    
}

.formSection {
    display: flex;
    gap:  70px;

}

.formInput {
    display: flex;
    flex-direction: column;
}

button {
    background-color: darkolivegreen;
    color: white;
    width: fit-content;
    padding: 15px;
    border-radius: 500px;
    border-style: none;
}

input {
    border-color: gainsboro;
    border-style: solid;
    border-width: 1px;
    background-color: whitesmoke;
    width: 200px;
    border-radius: 5px;
}

label {
    font-family: Geneva;
    font-size: 10px;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow:  1px 2px 1px rgba(2, 2, 10, 0.2);
}

